image: Ubuntu
cache:
  - node_modules
install:
  - sudo apt install nodejs 
  - set CI=true
  - npm install -g npm@latest
  - npm install
matrix:
  fast_finish: true
build: off
version: '{build}'
shallow_clone: true
clone_depth: 1
test_script:
  - npm run build
