image: Ubuntu2004
cache:
  - node_modules
environment:
  matrix:
  - nodejs_version: "12"
install:
  - nvm use 14
  - node -v 
  - set CI=true
  - npm install -g npm@latest
  - npm install
matrix:
  fast_finish: true
build: off
version: '{build}'
shallow_clone: true
clone_depth: 1
test_script:
  - npm run build
